/* styles.css */

html,
body {
    height: 80%;
    margin: 0;
    /* Remove default margin */
}

header {
    height: 60px;
    /* Fixed height for the header */
}

footer {
    height: 40px;
    /* Fixed height for the footer */
}


.content {
    min-height: calc(100vh - 80px);
    /* Adjust based on footer height */
}